<center><img src="/images/developer.png" alt="" class="icono-developer"></center>
    <h2 class ="bienvenido-developer"> Bienvenido a mi blog sobre <span class = "developer-ingenieria"> Ingeniería de Software </span> </h2>

    <p>Hola, un saludo muy especial, te escribe Juan Carlos Monsalve G y te doy una bienvenida 
    a este blog sobre <b>Ingeniería de software</b>, si eres estudiante del área de ingeniería
        y/o te inicias en el mundo del <b>desarrollo de Software</b> este sitio es para ti. Recuerda visitarlo 
    con frecuencia pues publico contenido cada semana. </p>