.container{
    margin-top: 20px;
}

.pagination{
    text-align: center;
    align-items: center;
}

.title{
    background-color: rgb(156, 139, 194);
}

.foto {
    border-radius: 10%;
}

li{
    list-style: none;
}

.code{
    background-color: rgb(190, 186, 186);
}

span{
    text-align: center;
}

.card {
    margin-top:10px;
    margin-bottom: 10px;
    height: 450px;
}

.post-list-heading, .rss-subscribe, .post-list {
    display: none;
}

.icono-developer{
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.bienvenido-developer{
    margin-bottom: 30px;
    text-align: center;
}



.previous{
    word-spacing: 0.25em;
    font-weight: bold;
    text-align:center;
    align-items: center;
}

.next{
    word-spacing: 0.25em;
    font-weight: bold;
    text-align:center;
    align-items: center;
}

.page_number{
    word-spacing: 0.25em;
    font-weight: bold;
    text-align:center;
}
 
