.title{
    background-color: rgb(156, 139, 194);
}

.home {
    display: flex;
}

.foto {
    border-radius: 10%;
}

li{
    list-style: none;
}

.code{
    background-color: rgb(190, 186, 186);
}

span{
    text-align: center;
}

.card {
    margin-top:10px;
    margin-bottom: 10px;
    height: 450px;
}

.post-list-heading, .rss-subscribe, .post-list {
    display: none;
}

.icono-developer{
    width: 50%;
    height: 50%;
}